<% include header.html %>
 </head>
  <body>
<% include nav.html %>

<div class="container-fluid distance">
  <div class="row">
    <div class="col-md-9">

      <% if (result.article.length) { %>
      <% for(var i = 0; i < result.article.length; i++){ %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/article?article_id=<%= result.article[i]._id %>"><%= result.article[i].title %></a>
          </div>
          <div class="panel-body nowp">
           <%= result.article[i].content %>
          </div>
          <div class="panel-footer">
            <span>作者：<%= result.article[i].author %></span>
          </div>
        </div>
      <% } } else { %>
        <div>还没有文章发布</div>
      <% } %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<% include footer.html %>
</body>
</html>
