<% include header.html %>
</head>
<body>

<% include nav.html %>

<div class="container-fluid">
  <div class="row">
  	<div class="col-md-9 distance">
  	  <table class="table">
  	  	<thead>
  	  	  <th>标题</th>
  	  	  <th>操作</th>
  	  	  <th>操作</th>
  	  	</thead>
  	  	<tbody>
  	  	  <% if (result.article.length) {%>
  	  	  <% for (var i = 0, len = result.article.length; i < len; i++ ) {%>
  	  	  <tr>
  	  	  	<td><a href="/article?article_id=<%= result.article[i]._id %>"><%= result.article[i].title %></a></td>
  	  	  	<td><a href="/manageredit?article_id=<%= result.article[i]._id %>">编辑</a></td>
  	  	  	<td><a href="/manager:del?article_id=<%= result.article[i]._id %>">删除</a></td>
  	  	  </tr>
  	  	  <% } } %>
  	  	</tbody>
  	  </table>
  	</div>
  	<div class="col-md-3"></div>
  </div>
</div>

<% include footer.html %>
</body>
</html>