
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container distance-left">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">个人主页</a></li>
       	<li><a href="/new">新随笔</a></li>
       	<li><a href="/manager">管理</a></li>
      </ul>
      <div class="navbar-right user"><span class="username"><%= result.user %></span>,welcome to home!</div>
    </div>
  </div>
</nav>